.heading_api{
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
.heading_methods{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}